*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
}

.form{
    position: relative;
    text-align: center;
    top: 100px; 
}

.textarea{
    padding: 10px 10px;
    border: solid 5px cyan;
}